<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show</title>
    <link rel='stylesheet' href='/styleheets/style.css' />
</head>
<body>
    <table id='list'>
        <thead>
            <th>Airport</th>
            <th>Airline</th>
            <th>Flight Number</th>
            <th>Departure</th>
        </thead>
                
        <tr>
            <td><%= flight.airport %></td>
            <td><%= flight.airline %></td>
            <td><%= flight.flightNo %></td>
            <td><%= flight.departs %></td>
                       <!-- <td><a href="/flights/<%= flight._id %>"  id="details">DETAILS</a></td> -->
        </tr>
                
    </table>    

    <br><br><h2>Destinations</h2>
    <form id="add-destination-form" method="POST"
      action="/flights/<%= flight._id %>/destinations">
      <label>Arrival:
      <input type="date" name="arrival">
      </label>
      <label>Airport:
      <select name="airport">
        <option value="AUS">AUS</option>
        <option value="DAL">DAL</option>
        <option value="LAX">LAX</option>
        <option value="SEA">SEA</option>
      </select>
      </label>
      <input type="submit" value="Add Flight">
    </form>

    <table id='list'>
            <thead>
                <th>Airport</th>
                <th>Arrival</th>
            </thead>
            <% flight.destination.forEach(function(d){ %>
              <tbody>
              <tr>
                    <td><%= d.airport %></td>
                    <td><%= d.arrival %></td>
                </tr>
                </tbody>
            <% }) %>
            </table>

</body>
</html>